@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* TODO: Find a font that supports unicode characters. */
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gloriahallelujah/v12/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Resets */
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  height: 100%;
  margin: 0;
  font: 24px/1.9 "Ubuntu",sans-serif;
}

button {
  /* Reset button appearance */
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  padding: 0;
}

/* End Resets */

/* Landscape */
#landscape {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
}

#sky {
  background: linear-gradient(180deg, #00659E 16%, #4197C7 61.87%, #87C0DF 88.54%, #A3DAF9 98.44%);
  flex-grow: 3;
  /* Don't size it based on the sun */
  flex-basis: 0;
  /* Set a minimum height that's big enough to hold the sun + some margin */
  min-height: 17vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

#sun {
  border-radius: 50%;
  background: linear-gradient(180deg, #F79400 36.12%, #F7A934 68.84%, #F9C476 100%);
  --size: 12vw;
  height: var(--size);
  width: var(--size);
  
  position: relative;
  right: 13vw;
}

#ocean {
  background: linear-gradient(180deg, #1071A8 0%, #318ABD 50.25%, #7AC7CC 100%);
  height: 16vw;
  /* Keep the reflections a consistent size but let them overflow */
  position: relative;
}

#reflections {
  width: 80vw;
  position: absolute;
  top: -.3vw;
  right: 0px;
}

#surf-and-sand {
  position: relative;
  top: -3vw;
  width: 100%;
}

/* The SVGs scale based on the width, so height should not be specified.*/
#surf {
  position: absolute;
  width: 100%;
}

@keyframes wave {
  0% {
    transform: scaleY(80%);
  }
  100% {
    transform: scaleY(120%);
  }
}

#wet-sand {
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: scaleY(80%);
  animation: wave 3s infinite alternate ease-out;
}

#sand {
  background: linear-gradient(180deg, #C1B0B8 0%, #FFE1C2 78.65%);
  flex-grow: 3;
  flex-basis: 0;
  position: relative;
}

#bottle {
  position: absolute;
  left: 50%;
  top: 25%;

  height: 73px;
  width: 100px;
}

/* End Landscape */

.bottle {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /* Fade out */
  transition: visibility 0s 5s, opacity 1s 4s ease-out;
}
.bottle--visible {
  visibility: visible;
  opacity: 1;
  /* Fade in */
  transition: visibility 0s 0s, opacity 2s ease-in;
}

.bottom-button {
  --side-margin: 5%;
  --size: 64px;
  position: absolute;
  bottom: 21%;
}

mute-toggle.bottom-button {
  left: var(--side-margin);
  height: var(--size);
  width: var(--size);

  background-color: rgba(0, 0, 0, .2);
  border: solid 3px deepskyblue;
}


.bottom-button.quill-button {
  right: var(--side-margin);

  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  transform: rotate(45deg);
  cursor: pointer;
  height: var(--size);
  width: var(--size);
}

.quill-button__quill {
  /* Counteract the parent element's rotation */
  transform: rotate(-45deg);
  height: 45px;
  width: 35px;
}

.message-overlay {
  --fade-duration: 400ms;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--fade-duration) ease-in,
    visibility 0s var(--fade-duration);

  position: absolute;
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
.message-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--fade-duration) ease-in, visibility 0s 0s;
}

.scroll {
  background-color: wheat;
  width: 50%;
  min-width: 15em;
}
.scroll__top {
  border-bottom: tan solid 3px;
}
.scroll__bottom {
  border-top: tan solid 3px;
}

.scroll__edge {
  position: relative;
}

.scroll__edge-background {
  background-color: wheat;
  height: 50px;
  position: relative;
}
.scroll__edge-left,
.scroll__edge-right {
  position: absolute;
  top: 0px;

  border-radius: 50%;
  background-color: tan;
  height: 100%;
  width: 10px;
}
.scroll__edge-left {
  left: -5px;
}
.scroll__edge-right {
  right: -5px;
}
/* Display the message or editor only when the appropriate class is set on the scroll */
.scroll__message,
.scroll__editor-container {
  display: none;
}
.scroll--read-only .scroll__message,
.scroll--editable .scroll__editor-container {
  display: inherit;
}
.scroll__message {
  /* Preserve white-space as the text is written */
  white-space: pre-wrap;
  max-height: 80vh;
  overflow-y: scroll;
}
.scroll__message,
.scroll__editor {
  font: 16px/1.9 "Gloria Hallelujah", cursive, serif;
  padding: 2em;
  min-height: 300px;
}
.scroll__editor {
  /* Reset the textarea appearance */
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  resize: none;
  width: 100%;
}
.scroll__editor:focus {
  outline: wheat;
}

.scroll--read-only .send-button {
  display: none;
}
.scroll--editable .send-button {
  display: inherit;
}

.scroll__bottom .scroll__edge-background {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}
.send-button {
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  font-size: 40px;
  font-family: "Gloria Hallelujah", cursive, serif;

  cursor: pointer;
  padding: 3px;
}

.texture-overlay {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('noise.webp');
}

#splash-screen {
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 138px;

  background: linear-gradient(180deg, #318ABD 0%, #318ABD 17.19%, #4E9DB8 45.31%, #58ABC5 61.98%, #7AC7CC 83.33%, #B3E3E7 98.96%);
  color: white;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  z-index: 1;
}

#splash-screen.fade-out {
  --fade-out-duration: 1s;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--fade-out-duration) ease-in;
}

.splash-screen--enter {
  border: 2px solid;
  border-radius: 10px;
  font-size: 16px;
  padding: 1em 2.5em;
  text-transform: uppercase;
}

.splash-screen--explainer {
  text-align: center;
  margin-bottom: 2em;
  max-width: 600px;
}