# The Gunicorn service for the swellnote API. Install at
# /etc/systemd/system/swellnote-api.service and run sudo systemctl enable --now swellnote-api
[Unit]
Description=swellnote API
After=network.target

[Service]
Type=notify
# TODO: Make a dedicated user for this and move the db to a reasonable spot instead of my home dir
User=max
Group=max
WorkingDirectory=~
# I have one vCPU on DigitalOcean right now. Gunicorn recommends 2n + 1, but that felt like
# a lot with nginx running, so I just did 2n.
ExecStart=/home/max/swellnote/venv/bin/gunicorn -b unix:/tmp/swellnote.sock -w 2 swellnote:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
